<section class="text-center">
	<div class="row mb-4">
		<div class="col-12 col-sm-12 col-md-6 mb-4">
			<%= image_tag('inscription_form/aog_01.png', class: 'img-fluid', alt: 'Image') %>
		</div>
		<div class="col-12 col-sm-12 col-md-6 mb-4">
			<%= image_tag('inscription_form/jovenes_oil.png', class: 'img-fluid', alt: 'Image') %>
		</div>
	</div>
	<div class="col-12 mb-4">
		<%= image_tag('inscription_form/coloquio.png', class: 'img-fluid', alt: 'Image') %>
	</div>
	<div class="row mb-4">
		<div class="col-12 col-sm-12 col-md-6 mb-4">
			<%= image_tag('inscription_form/golfo_text.png', class: 'img-fluid', alt: 'Image') %>
		</div>
		<div class="col-12 col-sm-12 col-md-6">
			<%= image_tag('inscription_form/date.png', class: 'img-fluid', alt: 'Image') %>
		</div>
	</div>
</section>