<section class="g-bg-gray-light-v5 g-pa-30">
  <div class="col-sm-8 col-lg-6 g-mb-30 mx-auto">
    <!-- Article -->
    <article class="u-shadow-v21 u-shadow-v21--hover g-bg-white g-pos-rel g-rounded-5 ">
      <div class="g-pa-30">
          <strong>Empresa:</strong>
          <%= @inscription.company %>
        </p>

        <p>
          <strong>Nombre:</strong>
          <%= @inscription.name %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @inscription.email %>
        </p>

        <p>
          <strong>DNI:</strong>
          <%= @inscription.dni %>
        </p>

        <p>
          <strong>Es celiaco:</strong>
          <%= (@inscription.celiac?) ? 'Si' : 'No' %>
        </p>

        <p>Se le envio un email con el codigo QR que se muestra a continuación, el cual debe presentar al momento de ingresar al evento.</p>
        <p>Puede descargarlo clickeando en el boton de abajo.</p>
        <div class="mx-auto">
          <%= link_to '<i class="fa fa-file-pdf-o"></i> Ver la tremenda etiqueta'.html_safe, inscription_pdf_inscripcion_path(@inscription.id), 
                    'class' => 'btn btn-info', title: 'Ver la tremenda etiqueta', target: '_blank'  %>
        </div>
      </div>

    </article>
    <!-- End Article -->

  </div>
</section>

