<section class="g-bg-gray-light-v5 g-pa-30">
  <div class="col-sm-8 col-lg-6 g-mb-30 mx-auto">
    <!-- Article -->
    <article class="u-shadow-v21 u-shadow-v21--hover g-bg-white g-pos-rel g-rounded-5 ">
      <div class="text-center g-pa-30">
        <%= image_tag('iapg_small.png', class: 'w-50 g-rounded-top-5', alt: 'Logo iapg')%>
      </div>
      <div class="g-pa-30">
        <h3 class="h6 g-color-black g-font-weight-600 text-capitalize mb-3">
          <p class="g-color-black g-color-primary--hover g-text-underline--none--hover">Registro exitoso.</p>
        </h3>
        <p>Te registraste con los siguientes datos: </p>
        <p>
          <strong>Empresa:</strong>
          <%= @inscription.company %>
        </p>

        <p>
          <strong>Nombre:</strong>
          <%= @inscription.name %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @inscription.email %>
        </p>

        <p>
          <strong>DNI:</strong>
          <%= @inscription.dni %>
        </p>

        <p>
          <strong>Expone:</strong>
          <%= (@inscription.exposes_work?) ? 'Si' : 'No' %>
        </p>

        <p>Se le envio un email con el codigo QR que se muestra a continuación, el cual debe presentar al momento de ingresar al evento.</p>
        <p>Puede descargarlo clickeando en el boton de abajo.</p>
        <div class="mx-auto">
          <%= image_tag(@inscription.qrcode) %>
          <%= link_to 'Descargar', rails_blob_path(@inscription.qrcode, disposition: "attachment"), class: 'btn u-btn-outline-indigo' %>
        </div>
      </div>

    </article>
    <!-- End Article -->

  </div>
</section>

