<!DOCTYPE html>
<html>
  <head>
    <title>IAPG seccional sur</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
     <main class="container-fluid">
        <%= yield %>
        <div class="modal fade" id="modal" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        </div>
      </main>
  </body>
</html>
