<!DOCTYPE html>
<html>
  <head>
    <title>IAPG seccional sur</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
     <% if logged_in? %>
     <div class="row mx-auto">
        <%= link_to root_path, class: 'navbar-brand mx-auto' do %>
          <%= image_tag('iapg_small.png', alt: 'Logo', height: "80") %>
        <% end %>
      </div>
     <% end %>
     <main class="container-fluid">
        <%= yield %>
        <div class="modal fade" id="modal" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        </div>
      </main>
  </body>
</html>
